:root {
  /* Fonts */
  --font-inter: "Inter", system-ui, -apple-system, sans-serif;
  --font-poppins: "Poppins", system-ui, -apple-system, sans-serif;

  /* Brand Colors */
  --purple-100: oklch(95.6% 0.028 282);
  --purple-200: oklch(91.7% 0.049 281);
  --purple-400: oklch(65.382% 0.18828 279.856);
  --purple-600: oklch(51.52% 0.2801 282.26);
  --purple-800: oklch(33.8% 0.24 285);
  --indigo-100: oklch(94.5% 0.015 264);

  /* Neutral Colors */
  --gray-50: oklch(98.53% 0.0076 250.77);
  --gray-100: oklch(96.5% 0.01 250);
  --gray-300: oklch(85.82% 0.0156 254.4);
  --gray-400: oklch(70.12% 0.019 252.3);
  --gray-600: oklch(44.51% 0.0304 257.65);
  --gray-900: oklch(18.23% 0.0298 274.65);
  --gray-950: oklch(18.23% 0.0298 274.65);
  --white: oklch(100% 0 0);

  /* Utility Colors */
  --mint-50: oklch(97.5% 0.015 165);
  --mint-200: oklch(92% 0.035 165);
  --emerald-100: oklch(95.9% 0.04 144);
  --emerald-800: oklch(52.71% 0.1654 142.1);
  --orange-100: oklch(96.8% 0.05 90);
  --orange-800: oklch(55% 0.14 75);
  --pink-100: oklch(94.8% 0.035 348);
  --pink-800: oklch(48.55% 0.2038 350.7);
  --blue-100: oklch(92.8% 0.05 250);
  --blue-800: oklch(45% 0.2 260);

  /* Spacing */
  --spacing: 0.25rem;
  --spacing-m: 1rem;

  /*Font bold*/
  --bold-400: 400;
  --bold-500: 500;
  --bold-600: 600;
  --bold-800: 800;

  /*Gap*/
  --gap-15: 15px;

  /*Font size*/
  --font-xs: clamp(0.875rem, 1vw, 1rem);
  --font-sm: clamp(0.9rem, 1vw, 1rem);
  --font-m: clamp(1.1rem, 2vw, 1.4rem);
}

/* ==========================================
    Basic reset & typography
   ========================================== */
   *,
*::before,
*::after {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

html {
  color-scheme: dark light;
}

/*** Global/base styles ***/
body {
  font-family: var(--font-inter);
  color: var(--gray-900);
  background-color: #fff;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
  text-wrap: balance;
  line-height: 1.1;
}

p {
  text-wrap: pretty;
}

/* Custom premium scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--gray-50);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-300);
  border-radius: 5px;
  border: 2px solid var(--gray-50);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--purple-400);
}

/* Screen-reader utility (Visually Hidden) */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a:focus-visible,
button:focus-visible {
  outline: 3px solid #005fcc;
  outline-offset: 2px;
}

/* 4. Layout utilities */
.article, .hero, .section{
  width: min(100% - 2rem, 1250px);
  margin-inline: auto;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.container {
  width: min(100% - 2rem, 1250px);
  margin-inline: auto;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.grid-1 {
  grid-template-columns: 1fr;
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.grid-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-space{
  justify-content: space-between;
}

.justify-content-end{
  justify-content: end;
}

.align-self-end {
  align-self: end;
}

.text-center{
  text-align: center;
}



/* 5. Components */
.btn {
  text-align: center;
  cursor: pointer;
  padding: 8px 24px;
  width: fit-content;
  border: none;
  font-size: var(--font-sm);
}

.btn-primary {
  background-color: var(--purple-600);
  color: #fff;
  transition: .5s;
   
  &:hover {
     background-color: oklch(0.41 0.24 279.31);
   }
}

.btn-secondary {
  background-color: #fff;
  color: var(--purple-600);
  border-color: var(--purple-600);
  border: solid 1px;
  transition: 0.5s;

  &:hover {
    background-color: var(--purple-600);
    color: #fff;
  }
}

.btn-see-events{
  color: var(--purple-600);
  margin-bottom: 1em;
  cursor: pointer;
  font-weight: var(--bold-600);
  font-size: var(--font-sm);
  background: none;
  border: none;
}

.eventlist-title{
  font-size: var(--font-m);
  font-weight: var(--bold-800);
  line-height: 1.2;
  color: #111827;
}

/* TAG STYLES */
.tag {
  padding: 0.5rem;
  font-weight: var(--bold-600);
  font-size: var(--font-xs);
  line-height: 10px;
}

.tag-purple {
  background-color: var(--purple-200);
  color: var(--purple-600);
}

.tag-green {
  background: #dcfce7;
  color: #15803d;
}

.tag-yellow {
  background: #fef3c7;
  color: #b45309;
}

.tag-red {
  background: #fce7f3;
  color: #be185d;
}

.tag-blue {
  background: #dbeafe;
  color: #2563eb;
}

.navbar {
  padding: 8px;
}

ul {
  column-gap: 20px;
  padding: var(--spacing-m);
}

ul .list-item {
  font-size: 1.1rem;
  font-weight: var(--bold-500);
  color: #000000;

  &:hover {
    color: var(--purple-600);
  }
}

.list-item.active {
  color: var(--purple-600);
}

.logo-holder {
  gap: 10px;
}

.logo-holder .logo-text {
  font-weight: var(--bold-800);
  letter-spacing: 1px;
  font-size: 1.4rem;
}

.login-holder {
  gap: var(--gap-15);
}


.menu-toggle {
  display: none;
}

.menu-btn {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.hero {
  gap: 2rem;
  align-items: center;
  padding: 2em;
  width: min(100% - 2rem, 1250px);
  margin-inline: auto;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.hero-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  max-width: 520px;
}

.search-banner {
  width: 100%;
  background: var(--indigo-100);
  padding: 2rem 0;
}

.search-banner-title{
  font-size: var(--font-m);
  font-weight: var(--bold-800);
  line-height: 1.2;
  color: #111827;
  margin-bottom: 1em;
}

.img-left {
  height: 360px;
}

.img-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
}

.img-left img,
.img-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.img-right img {
  height: 176px;
}

.hero-intro h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 900;
  margin-top: .5em;
}

.hero-description {
  font-size: clamp(0.95rem, 1.5vw, 1.2rem);
  color: var(--gray-600);
  margin-top: 1rem;
}

.explore-wrapper {
  margin-top: 1em;
  display: flex;
  gap: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  font-size: var(--font-xs);
  font-weight: 700;
}

.form-group input,
.form-group select {
  height: 42px;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  padding: 0 12px;
  background-color: white;
  color: var(--gray-900);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.search-btn {
  height: 42px;
  white-space: nowrap;
}

.search-svg{
  cursor: pointer;
}

.card {
  position: relative;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--gray-300);
  display: flex;
  flex-direction: column;
  height: 100%;


}

.card:focus-visible {
  outline: 3px solid var(--purple-600);
  outline-offset: 4px;
}

.heart-holder{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255,255,255,.3);
  border-radius: 50%;
  background: rgba(0,0,0,.5);
  cursor: pointer;
  transition: .5s;

  &:hover{
    background: rgb(0 0 0 / 87%);
  }

  svg{
   width: 20px;
   height: 20px;
   color: #ef4444;
    
  }

}

/* Cards STYLES */
.card-top {
  height: 180px;
}

.card-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 16px;
  min-height: 120px;
  padding-bottom: 3em;

  .card-title {
    font-family: var(--font-poppins);
    font-size: var(--font-xs);
    font-weight: 700;
    line-height: 1.35;
    color: var(--gray-950);
    margin: 0.75rem 0 0.5rem;
  }
}

.card-place {
  font-size: var(--font-sm);
  color: var(--gray-600);
  margin-top: 1rem;
}

.event-date{
  font-size: var(--font-sm);
}

.info-banner {
  width: 100%;
  background: var(--emerald-100);
  padding: 4rem 0;
}

.info-block {
  display: grid;
  grid-template: 1fr 1fr;
  grid-auto-flow: column;
  align-items: center;
  gap: 2em;
}

.icon-circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--mint-200);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon-circle svg {
  width: 24px;
  height: 24px;
  color: var(--gray-900);
}

.info-block-title {
  font-weight: 800;
  font-size: var(--font-sm);
  margin-bottom: 3rem;
}

.info-block-description {
  font-size: var(--font-sm);
  margin-top: 0.4em;
}


/* FOOTER STYLES */
.footer {
  background-color: #070b1a;
  color: var(--gray-300);
  padding: 48px 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer .logo-holder {
  color: var(--white);
  margin-bottom: 18px;
}
.footer .logo-text {
  font-size: 1rem;
  font-weight: 800;
}

.footer p {
  font-size: var(--font-sm);
  line-height: 1.5;
  max-width: 260px;
}

.footer h4 {
  color: var(--white);
  font-size: var(--font-sm);
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.footer ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer li,
.footer a, 
footer address{
  font-size: var(--font-sm);
  color: var(--gray-400);
}

.footer a:hover {
  color: var(--white);
}

.socials {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

.socials a {
  width: 34px;
  height: 34px;
  border: 1px solid var(--gray-600);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}


.adress{
  gap: 10px;
}

/* Table Device screen  */
@media (max-width: 768px) {
    .navbar {
    position: relative;
    justify-content: space-between;
    padding: 16px;
  }

  .menu-btn {
    display: block;
  }

  .ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white);
    flex-direction: column;
    gap: 0;
    padding: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    z-index: 10;
  }

  .ul .list-item {
    padding: 12px 0;
  }

  .menu-toggle:checked ~ .ul {
    display: flex;
  }

  .login-holder {
    display: none;
  }
    .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-3 {
    grid-template-columns: 2fr 2fr;
  }

  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}


/* Mobile Device screen  */
@media (max-width: 568px) {
  .hero{
    padding: 0;
  }
  .grid-3 {
    grid-template-columns: 1fr;
  }
  .grid-4 {
    grid-template-columns: 1fr;
  }

.info-block{
    display: grid;
    grid-template: 1fr 1fr;
    grid-auto-flow: row;
    align-items: center;
    gap: 2em;
    justify-items: center; 
     text-align: center;
  }
}



